# Dependency directories
node_modules/
frontend/node_modules/
backend/node_modules/

# Build outputs
dist/
.next/
out/
backend/dist/

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
frontend/.env
backend/.env
backend/README.md
# Databases
*.db
*.db-journal

# IDEs and editors
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS files
.DS_Store
Thumbs.db

